body {
  background-color: rgb(183, 167, 167);
}

.section-left {
  background-color: bisque;
  width: 150px;
  height: 550px;
  margin: 20px 0px 0px 10px;
  
}

img {
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 1px;
}
.education{
    font-size: 8px;
    margin: 5px;
    padding: 1px;
    font-family: "Roboto Condensed", sans-serif;
}

.titels{
    font-size: large;
    text-align: center;
    font-family: "Josefin Sans", sans-serif;


}
.contact{
    font-size: 8px;
    margin: 5px;
    padding: 1px;
    font-family: "Roboto Condensed", sans-serif;
}
